
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

#firstDiv {
  /* background: url("../images/rose-bg.jpg"); */
  background: url("../images/all_with_sachets_with_bg.jpeg");
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.phnabt{
  background-color: rgb(182, 207, 241);
}

#firstDiv:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url("../images/wave-bottom.svg");
  height: 275px;
}

#firstDiv h1 {
  /* padding: 30px 50px 0 50px; */

  font-size: 60px;
  font-family: "ITC Avant Garde Gothic Std Book";
  font-weight: 600;
  color: #342f36;
  margin-top: 30%;
}

#abname {
  background-image: linear-gradient(120deg, #dca59b 0%, #dca59b 100%);
  background-repeat: no-repeat;
  background-size: 30% 0.4em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

#abname:after {
  background-size: 100% 0.4em;
}

.quote {
  text-align: center;
  font-size: 30px;
  color: #2d2d2d;
  font-family: "Montserrat", "sans-serif";
}

#abtusDiv {
  background: url("../images/cocoleaf.jpg");

  background-position: right;
  background-size: cover;
  background-color: #dca59b;
}

@media only screen and (max-width: 600px) {
  .quote {
    font-size: 20px;
  }
}

#togpe {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
margin-bottom: 5%;
  color: white;
  font-weight: 400;
}


#esOils, #handing, #chems, #natpur{
  font-family: "Montserrat", sans-serif;

}